# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# --- Entorno virtual ---
venv/
.env/
.venv/
env/
ENV/
Lib/
Scripts/
pyvenv.cfg

# --- Archivos temporales ---
*.log
*.pot
*.py[cod]
*$py.class

# --- VSCode ---
.vscode/
*.code-workspace

# --- Archivos del sistema ---
.DS_Store
Thumbs.db
