# Dependencias del agente (no usadas en Render, pero se mantienen por consistencia)
scapy
requests

# Dependencias del servidor web y despliegue
fastapi
uvicorn[standard]
jinja2
gunicorn
websockets
python-multipart
passlib[bcrypt]
itsdangerous
