<!DOCTYPE html>
<html>

<head>
    <title>Administrador de PCs</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>


    <header class="topbar">

        <h2>RIWI<span>Manager</span></h2>
        <nav>
            <a href="/">Network</a>
            <a href="/reportes">Reportes</a>
            <a href="/logout">Cerrar sesión</a>
        </nav>
    </header>
    


    <main class="main"></main>

    <h1>Lista de Equipos</h1>
    <form action="/add" method="post">
        <input type="text" name="hostname" placeholder="Hostname" required>
        <input type="text" name="mac" placeholder="MAC" required>
        <input type="text" name="ip" placeholder="IP" required>
        <button type="submit" class="agre">Agregar</button>
    </form>


<section class="cards">
  {% for e in equipos %}
  <article class="card-pc">
    
      <!-- Cambia la ruta por tu icono -->
      <h3 class="hostname">{{ e[1] }}</h3><b></b>
      <img class="pc-icon" src="./static/imag/computadora (3).png" alt="PC" />
     


    <ul class="info">
      <li><strong>ID:</strong> {{ e[0] }}</li>
      <li><strong>MAC:</strong> {{ e[2] }}</li>
      <li><strong>IP:</strong> {{ e[3] }}</li>
      <li><strong>Estado:</strong> {{ e[4] }}</li>
      <li>
        <strong>Conectado:</strong>
        {% if e[5] %}<span class="pill ok">🟢 Sí</span>{% else %}<span class="pill bad">🔴 No</span>{% endif %}
      </li>
      <li>
        <strong>Error:</strong>
        {% if e[6] %}<span class="pill warn">⚠️ {{ e[6] }}</span>{% else %}<span class="pill mute">Sin errores</span>{% endif %}
      </li>
    </ul>

    <div class="acciones">
      <a class="btn-accion btn-on" href="/encender/{{ e[2] }}">Encender</a>
      <a class="btn-accion btn-off" href="/apagar/{{ e[3] }}">Apagar</a>
      <a class="btn-accion" href="/bienvenida/{{ e[3] }}">Bienvenida</a>
      <a class="btn-accion btn-delete" href="/delete/{{ e[0] }}">Eliminar</a>
    </div>
  </article>
  {% endfor %}
</section>


</html>