<!DOCTYPE html>
<html>
<head>
    <title>Reportes - RIWI Manager</title>
      <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- Header -->
    <header class="topbar">
        <h2>RIWI Manager</h2>
        <nav>
            <a href="/">Network</a>
            <a href="/reportes">Reportes</a>
            <a href="/logout">Cerrar sesión</a>
        </nav>
    </header>

    <!-- Contenido -->
    <main class="main">
        <h1>Reportes & Alertas</h1>

        <div class="alert error">
            ❌ Error en despliegue 'equip22' <span class="time">hace 2 horas</span>
        </div>
        <div class="alert success">
            ✅ Despliegue completado en 'equip3' <span class="time">hace 1 día</span>
        </div>

        <button class="exportar">Exportar...</button>
    </main>
</body>
</html>
